@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-dark">
    <h1 class="display-4" style="animation: flicker 4s infinite alternate">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
